{% extends 'base.html.twig' %}

{% block title %}Nos formules
{% endblock %}

{% block body %}
	<div class="formules-container">
		<div class="formules-content">
			<div class="formules">
				<div class="card">
					<h2>Formule Chien</h2>
					<div class="img-chien"></div>
					<ul>
						<li class="tarif">Tarif: 15€ / jour</li>
						<li>Tous nos chalets sont isolées et chauffées selon la saison pour que votre chien ne souffre pas des conditions climatiques.</li>
						<li>Chaque chambre bénéficie d’un accès libre à son « jardin privatif », mitoyen avec la chambre voisine pour que votre chien puisse interagir en toute tranquillité.</li>
						<li>Des parcs de jeux ont été spécialement aménagés pour leur permettre de se dépenser avec nous et avec « leur voisin de chambre », si l’entente le permet.</li>
					</ul>
				</div>
				<div class="card">
					<h2>Formule Chat</h2>
					<div class="img-chat"></div>
					<ul>
						<li class="tarif">Tarif: 10€ / jour</li>
						<li>Toutes les chambres sont isolées et chauffées ou climatisées selon la saison pour que votre ou chat ne souffre pas des conditions climatiques.</li>
						<li>Les cloisons sont équipées de fenêtre pour que vos chats puissent se côtoyer en toute tranquillité.</li>
						<li>Chaque chambre bénéficie d’un accès à sa terrasse privative en extérieur.</li>
						<li>Nous fournissons la litière avec au choix selon les préférences de votre chat : bacs litière fermés ou à l’air libre. Nous utilisons de la litière végétale.</li>
					</ul>
				</div>
			</div>
			<div class="infos">
				<h2>Informations générales</h2>
				<ul>
					<li>Pour plus de sécurité, nos chambres sont individuelles.<br>Cependant plusieurs chiens ou chats d’une même famille peuvent séjourner ensembles (recommandé).</li>
					<li>Afin de conserver leurs habitudes alimentaires et d’éviter les perturbations digestives, l’alimentation votre animal est à fournir<br>(alimentation humide possible / nous consulter).</li>
					<li>Si vous le souhaitez, vous pouvez nous laisser ses affaires personnelles pour qu’il se sente plus rapidement « chez lui ».</li>
					<li>Les animaux sont visités plusieurs fois par jour pour le nettoyage, le remplissage des gamelles, les câlins et les jeux.</li>
					<li>Coté administratif, vos chats doivent être identifiés, vaccinés, vermifugés et anti- parasités à jour pour venir en vacances à la pension.</li>
					<li>La prise de rendez-vous est indispensable pour venir visiter la pension et pour déposer/récupérer votre animal.</li>
					<li>Avant tout séjour, une journée d’adaptation reste obligatoire (24h).</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
