{% extends 'base.html.twig' %}

{% block title %}Fiches Animaux{% endblock %}

{% block body %}
	<div class="animal-container">
		<h1>Fiches Animaux</h1>
		{{ include('animal/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
		<div class="boutons">
			{{ include('animal/_delete_form.html.twig') }}
			<a href="{{ path('app_animal_index') }}" class="retour">Retour</a>
		</div>
	</div>
{% endblock %}
