{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
	<div class="animal-container">
		<h1>Nouvel animal</h1>
		{{ include('animal/_form.html.twig') }}
		<a href="{{ path('app_animal_index') }}" class="retour">Retour</a>
	</div>
{% endblock %}
