<footer>
        <p><i class="fa-solid fa-phone"></i> 06 41 31 35 39</p>
        <a href="mailto:pensionpasdelroc@gmail.com"><i class="fa-solid fa-envelope"></i> pensionpasdelroc@gmail.com</a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.google.com/maps/place/32+Rte+de+Bessi%C3%A8res,+31380+Paulhac,+France/@43.786285,1.56628,14z/data=!4m6!3m5!1s0x12ac20845cd53d55:0xe18102ee702e9e78!8m2!3d43.7862848!4d1.5662799!16s%2Fg%2F11h56bw3qq?hl=en" target="_blank"><i class="fa-solid fa-location-dot"></i> 32 Route de Bessières, 31380 Paulhac</a>
</footer>